.app-header {
  background: linear-gradient(to right, #ffffff, #ffffff);
  color: #292929;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  // justify-content: space-around;
  justify-content: space-between;
  max-width: 1600px;

  &__logo {
    font-size: 22px;
    // font-weight: bold;
    font-weight: 500;
    display: flex;
    align-items: center;

    span {
      color: #3f3f3f98; // Yellow accent
    }
  }

  &__menu {
    background: transparent;
    border-bottom: none;

    .ant-menu-item a {
      color: #232323 !important;
      font-weight: 500;

      &:hover {
        color: #c4c4c4 !important; // Yellow on hover
      }
    }
  }

  &__dropdown {
    a {
      color: #383838;
      font-weight: 500;

      &:hover {
        color: #868686; // Yellow on hover
      }
    }
  }
}
